@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/RandomTreeGenerator.js"></script>
    <script src="~/Index.js"></script>
}

<div>
    <input id="refreshButton" type="button" value="REFRESH" />
    <input id="numberOfNodes" type="text" value="1000" />
</div>



