@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table td, table td * {
        vertical-align: top;
    }
</style>

<table style="width: 100%;height: 100%">
    <tr>
        <td>
            <div id="referenceJstreeContainer"></div>
        </td>
        <td>
            <div id="referenceJstreeContainer2"></div>
        </td>
    </tr>
</table>
<script src="~/FilterControl/JS/FilterStateManager/Common.js"></script>
<script src="~/FilterControl/JS/Common.js"></script>
<script src="~/FilterControl/JS/Service/MockService.js"></script>
<script src="~/Manual.js"></script>